/* text */

.radioButton:hover{
-fx-cursor: hand;
}

.radioButton:selected:hover{
-fx-cursor: default;
}

.datePane:hover{
    -fx-background-color: #DFE5EF;
    -fx-cursor: hand;
    -fx-font-size: 16px;
}

.scroll-date
{
-fx-background: #ffffff;
}

.laggTillAlla
{
-fx-background-color: #B00320;
-fx-text-fill: white;
-fx-background-radius: 3px;
-fx-background-radius: 0;
-fx-font-size: 16px;

}

.laggTillAlla:hover{
    -fx-background-color: #EF233C;
    -fx-font-size: 16px;
    -fx-cursor: hand;
}
.laggTillAlla:pressed{
    -fx-background-color: #EA7381;
    -fx-font-size: 16px;
    -fx-cursor: hand;
}

.scroll-orderItems
{
-fx-background: white;
}


.sokbar
{
-fx-background-color: white;
}

.sokbar:hover
{
-fx-border-width: 1px;
-fx-border-color: #8D99AE;
-fx-border-radius: 50 0 0 50;
-fx-border-insets: -1px;
-fx-cursor: TEXT;
}

.combo-boxx .combo-box-popup .list-view, .combo-box .combo-box-popup .list-cell {
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-font-family: "Arial";
}
.combo-boxx .combo-box-popup .list-cell:hover {
    -fx-text-fill: white;
    -fx-background-color: #8D99AE;
    -fx-font-family: "Arial";
}
.combo-box-error .combo-box-popup .list-view, .combo-box .combo-box-popup .list-cell {
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-font-family: "Arial";
}
.combo-box-error .combo-box-popup .list-cell:hover {
    -fx-text-fill: white;
    -fx-background-color: #8D99AE;
    -fx-font-family: "Arial";
}

.combo-box-error
{
-fx-background-color: white;
-fx-border-width: 1px;
-fx-border-color: #B00320;
-fx-border-radius: 3px;
-fx-padding: 0;
}

.combo-boxx
{
-fx-background-color: white;
-fx-border-width: 1px;
-fx-border-color: #BBBBBB;
-fx-border-radius: 3px;
-fx-padding: 0;
}
.combo-boxx:hover
{
/*
-fx-border-color: #8D99AE;
-fx-border-radius: 3px;
*/
-fx-padding: 0;
-fx-cursor: hand;
}
.combo-box-error:hover
{
-fx-padding: 0;
-fx-cursor: hand;
}

.textfield-error
{
-fx-border-color: #B00320;
-fx-border-radius: 3px;
}
/*
.textfield
{
-fx-border-color: gray;
-fx-border-radius: 3px;
}

.textfield:hover
{
-fx-border-color: #8D99AE;
-fx-border-radius: 3px;
-fx-cursor: hand;
}

.textfield:hover
{
-fx-border-color: #8D99AE;
-fx-border-radius: 3px;
-fx-cursor: TEXT;
}

/* ALLA SIDOR  -fx-padding: 0 15 0 15; */
.anchor-pane
{
-fx-background-color: #EDF2F4;
}
/* checkout */
.navigation-button
{
-fx-background-color: #2B2D42;
-fx-padding: 0px;
-fx-text-fill: white;
-fx-font-family: "Arial";
-fx-font-size: 23px;
-fx-background-radius: 4px;
-fx-pref-height: 65px;
-fx-pref-width: 200px;
-fx-effect: dropshadow(one-pass-box, rgba(0, 0, 0, 0.26), 2, 0, 0.0, 1.0);
-fx-effect: dropshadow(one-pass-box, rgba(0, 0, 0, 0.42), 4, 0, 0.0, 2.0);
-fx-effect: dropshadow(one-pass-box, rgba(0, 0, 0, 0.2), 8, 0, 0.0, 1.0);
}
.navigation-button:hover
{
-fx-background-color: #4B4D63;
-fx-padding: 0px;
-fx-cursor: hand;
}

.slutfor
{
-fx-background-color: white;
-fx-border-color: #2B2D42;
-fx-border-radius: 4px;
-fx-border-width: 2px;
-fx-border-style: solid outside;
-fx-padding: 0px;
-fx-text-fill: #2B2D42;
-fx-font-family: "Arial Bold";
-fx-font-size: 23px;
-fx-background-radius: 4px;
-fx-pref-height: 65px;
-fx-pref-width: 200px;
-fx-effect: dropshadow(one-pass-box, rgba(0, 0, 0, 0.26), 2, 0, 0.0, 1.0);
-fx-effect: dropshadow(one-pass-box, rgba(0, 0, 0, 0.42), 4, 0, 0.0, 2.0);
-fx-effect: dropshadow(one-pass-box, rgba(0, 0, 0, 0.2), 8, 0, 0.0, 1.0);
}
.slutfor:hover
{
-fx-background-color: #DFE5EF;
-fx-padding: 0px;
-fx-cursor: hand;
}

.kassa
{
-fx-background-color: #2B2D42;
-fx-text-fill: white;
-fx-background-radius: 3 3 0 0;
}
.kassa:hover
{
-fx-background-color: #4B4D63;
-fx-background-radius: 3 3 0 0;
-fx-cursor: hand;
}
.kassa2
{
-fx-background-color: #2B2D42;
-fx-text-fill: white;
-fx-background-radius: 3;
}
.kassa2:hover
{
-fx-background-color: #4B4D63;
-fx-background-radius: 3;
-fx-cursor: hand;
}

.back-button
{
-fx-font-family: "Arial";
-fx-background-color: #B00320;
-fx-text-fill: white;
-fx-font-size: 20px;
-fx-padding: 0px;
-fx-pref-height: 36px;
-fx-pref-width: 181px;
-fx-background-radius: 3px;
-fx-effect: dropshadow(one-pass-box, rgba(0, 0, 0, 0.26), 2, 0, 0.0, 1.0);
-fx-effect: dropshadow(one-pass-box, rgba(0, 0, 0, 0.42), 4, 0, 0.0, 2.0);
-fx-effect: dropshadow(one-pass-box, rgba(0, 0, 0, 0.2), 8, 0, 0.0, 1.0);
}
.back-button:hover
{
-fx-background-color: #EF233C;
-fx-padding: 0px;
-fx-cursor: hand;
}
.back-button:pressed
{
-fx-background-color: #EA7381;
-fx-padding: 0px;
}

#purchase-button
{

-fx-font-size: 35px;
-fx-underline: true;
}



/* VITA RUTOR I HELA APPEN */

.pane-with-content
{
-fx-background-radius: 8px;
-fx-background-color: white;
}

.btn-checkout {
-fx-background-color: white;
-fx-background-radius: 3px;

-fx-border-width: 1px;
-fx-border-color: black;
-fx-border-radius: 3px;
}
.btn-checkout:hover{
-fx-background-color: #DFE5EF;
-fx-border-color: #8D99AE;
-fx-border-radius: 3px;
-fx-cursor: hand;
}

.btn-confirmationbox1{
-fx-background-color: white;
-fx-background-radius: 1;
-fx-border-color: #D5D5D5;
-fx-padding: 0;
-fx-border-radius: 1;
-fx-border-style: solid centered;
/*
-fx-background-color: white;
-fx-background-radius: 0 0 0 5;
-fx-border-width: 0.5px;
-fx-border-color: black;
-fx-border-radius: 0 0 0 5;
*/
}

.btn-confirmationbox1:hover{
-fx-background-color: #EDF2F4;
-fx-cursor: hand;
}
.btn-confirmationbox1:pressed{
-fx-background-color: #DDDDDD;
-fx-cursor: hand;
}


.btn-confirmationbox2{
-fx-background-color: #B00320;
-fx-background-radius: 1;
-fx-padding: 0;
/*
-fx-background-color: #D90429;
-fx-background-radius: 0 0 5 0;
-fx-text-fill: white;
-fx-border-width: 0.5px;
-fx-border-color: black;
-fx-border-radius: 0 0 5 0;
*/
}

.btn-confirmationbox2:hover{
-fx-background-color: #EF233C;
-fx-cursor: hand;
}

.btn-confirmationbox2:pressed
{
-fx-background-color: #EA7381;
-fx-padding: 0px;
}
/*
-fx-background-color: #DFE5EF;
*/
}

.btn-checkout-tryckt{
-fx-background-color: #8D99AE;
-fx-text-fill: #FFFFFF;

-fx-background-radius: 3px
/*
-fx-border-width: 1px;
-fx-border-color: black;
-fx-border-radius: 3px;
*/
}


.dropshadow-card /* jag lyckas inte få till nån bra skugga jag ger upp !!! Feel free to redo it completely */
{
-fx-effect: dropshadow(one-pass-box, rgba(0, 0, 0, 0.4), 2, 0, 0.0, 1.0);
-fx-effect: dropshadow(one-pass-box, rgba(0, 0, 0, 0.42), 4, 0, 0.0, 2.0);
-fx-effect: dropshadow(one-pass-box, rgba(0, 0, 0, 0.2), 8, 0, 0.0, 1.0);
}

.dropshadow
{
-fx-effect: dropshadow(one-pass-box, rgba(0, 0, 0, 0.26), 2, 0, 0.0, 1.0);
-fx-effect: dropshadow(one-pass-box, rgba(0, 0, 0, 0.22), 4, 0, 0.0, 2.0);
-fx-effect: dropshadow(one-pass-box, rgba(0, 0, 0, 0.5), 8, 0, 0.0, 1.0);
}

.lagg-till{
-fx-background-color: #B00320;
-fx-background-radius: 36px;

}
.lagg-till:hover
{
-fx-background-color: #EF233C;
-fx-cursor: hand;
}


.plusminus
{
-fx-background-color: #B00320;
-fx-background-radius: 50px;
-fx-padding: 0px;
}
.plusminus:hover
{
-fx-background-color: #EF233C;
-fx-cursor: hand;

}
.plusminus:pressed
{
-fx-background-color: #EA7381;

}

.graknapp{
-fx-background-color: #E5E5E5;
-fx-background-radius: 3px;
-fx-padding: 0px;
}
.graknapp:hover
{
-fx-background-color: #D5D5D5;
-fx-cursor: hand;
}

.graknapp-med-pressed{
-fx-background-color: #E5E5E5;
-fx-background-radius: 3px;
-fx-padding: 0px;
}
.graknapp-med-pressed:hover
{
-fx-background-color: #D5D5D5;
-fx-cursor: hand;
}
.graknapp-med-pressed:pressed
{
-fx-background-color: #B4B4B4;
}

.text-input {
    -fx-prompt-text-fill: #595959;
}

.text-input:focused {
    -fx-prompt-text-fill: transparent;
}

.button
{
 -fx-background-insets: 0 0 -1 0, 0, 1, 2;
}

.toolbar-btn
{
-fx-background-color: #FFFFFF;
-fx-padding: 1px;
}
.toolbar-btn:hover
{
-fx-background-color: #DFE5EF;
-fx-cursor: hand;
}
/*
.toolbar-btn:pressed
{
-fx-background-color: #E0E0E0;
}*/

#tidigare{
-fx-background-radius: 0px;

}
#hjalp{
-fx-background-radius: 0 5 5 0;

}
#favpriter{
-fx-background-radius: 5 0 0 5;

}
#startsida{
-fx-background-radius: 5;

}

.toolbar-btn-tryckt
{
-fx-background-color: #8D99AE;
-fx-padding: 1px;
}


.btn-kategori
{
-fx-background-radius: 50px;
-fx-border-radius: 50px;
-fx-background-color: #FFFFFF;
-fx-font-size: 18px;
-fx-padding: 0px;
-fx-pref-height: 41px;
-fx-pref-width: 178px;
-fx-border-color: #8D99AE;
-fx-border-width: 0.5;
}
.btn-kategori:hover
{
-fx-background-color: #DFE5EF;
-fx-padding: 0px;
-fx-cursor: hand;
}
/*
.btn-kategori:pressed
{
-fx-background-color: #E0E0E0;
-fx-padding: 0px;
}
*/


.scroll-vit .scroll-bar:vertical {
  -fx-background-color: transparent;
}
.scroll-vit .scroll-bar:vertical .thumb {
    -fx-background-color: #E5E5E5;
    -fx-background-insets: 2.0, 0.0, 0.0;
    -fx-background-radius: 2.0em;

}
.scroll-vit .scroll-bar:vertical .thumb:hover {
    -fx-background-color: #D5D5D5;
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}


.scroll-bla .scroll-bar:vertical {
  -fx-background-color: transparent;
}
.scroll-bla .scroll-bar:vertical .thumb {
    -fx-background-color: #FFFFFF;
    -fx-background-insets: 2.0, 0.0, 0.0;
    -fx-background-radius: 2.0em;
    -fx-effect: dropshadow(one-pass-box, rgba(0, 0, 0, 0.1), 8, 0.0, 0.0, 1.0);
}
.scroll-bla .scroll-bar:vertical .thumb:hover {
    -fx-effect: dropshadow(one-pass-box, rgba(0, 0, 0, 0.4), 8, 0.0, 0.0, 1.0);
}


.scroll-morkbla .scroll-bar:vertical {
  -fx-background-color: #ffffff;
}
.scroll-morkbla .scroll-bar:vertical .thumb {
    -fx-background-color: #FFFFFF;
    -fx-background-insets: 2.0, 0.0, 0.0;
    -fx-background-radius: 2.0em;
    -fx-effect: dropshadow(one-pass-box, rgba(0, 0, 0, 0.1), 8, 0.0, 0.0, 1.0);
}
.scroll-morkbla .scroll-bar:vertical .thumb:hover {
    -fx-effect: dropshadow(one-pass-box, rgba(0, 0, 0, 0.4), 8, 0.0, 0.0, 1.0);
}

